---
import SectionContainer from "@components/SectionContainer.astro";
import Subtitle from "@components/Subtitle.astro";


const ARTISTS = [
  { name: "Tales2R", instagram: "https://www.instagram.com/tales2r" },
  { name: "Baby Glissy", instagram: "https://www.instagram.com/babyglissy" },
  { name: "Geezydee", instagram: "https://www.instagram.com/geezydee24k" },
  { name: "Maxiisala", instagram: "https://www.instagram.com/maxiisala" },
  { name: "Jamby_elfavo", instagram: "https://www.instagram.com/jamby_elfavo" },
  { name: "Young fatty", instagram: "https://www.instagram.com/youngfattyyy" },
  { name: "And3r.nw", instagram: "https://www.instagram.com/and3r.nw" },
  { name: "Carabin3_", instagram: "https://www.instagram.com/carabin3_/"},
  { name: "Guxxisoho", instagram: "https://www.instagram.com/guxxisoho" },
  { name: "Danny999", instagram: "https://www.instagram.com/danny999h" },
  { name: "Kouji", instagram: "https://www.instagram.com/kouji_808" },
  { name: "YXNG DIVI", instagram: "https://www.instagram.com/2.porciento" },
  { name: "Elmeratrill", instagram: "https://www.instagram.com/elmeratrill/"},
  
  
];

---

<SectionContainer title="Colaboradores" id="artists">
  <Subtitle>
    Artistas que han <span class="text-primary">colaborado</span>
  </Subtitle>
  
    <div class="w-full max-w-6xl space-y-4 px-6">
      <ul class="flex flex-wrap justify-center gap-2">
        {ARTISTS.map(({ name, instagram }) => (
          <li class="flex items-start gap-2">
            <a
              href={instagram}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-1 font-sans text-white hover:text-orange-300 transition-colors duration-300 sm:text-sm md:text-sm lg:text-base xl:text-lg"
            >
              {name}
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="12" height="12" viewBox="0 0 48 48">
                <polygon fill="#42a5f5" points="29.62,3 33.053,8.308 39.367,8.624 39.686,14.937 44.997,18.367 42.116,23.995 45,29.62 39.692,33.053 39.376,39.367 33.063,39.686 29.633,44.997 24.005,42.116 18.38,45 14.947,39.692 8.633,39.376 8.314,33.063 3.003,29.633 5.884,24.005 3,18.38 8.308,14.947 8.624,8.633 14.937,8.314 18.367,3.003 23.995,5.884"></polygon>
                <polygon fill="#fff" points="21.396,31.255 14.899,24.76 17.021,22.639 21.428,27.046 30.996,17.772 33.084,19.926"></polygon>
              </svg>
            </a>
          </li>
        ))}
      </ul>
    </div>
  </SectionContainer>
  