---
import InfographicBody from "./InfographicBody.astro"
import InfographicHeader from "./InfographicHeader.astro"


const { infographicId } = Astro.props
---

<section
  id={`infographic-${infographicId}`}
  class="mx-auto px-2 max-w-7xl w-full flex-col gap-10 py-2 hidden bg-black rounded-lg"
>
  <InfographicHeader
    badgeText="ESCUCHALO AHORA MISMO EN TODAS LAS PLATAFORMAS."
    title="AND3Rnw - BERETTA (Official Video) Prod. Flame & Svnti"
    subtitle={[
      "FILM BY: ITSLILJAY.RAW",
      "ARTE: DAOC",
      "EDIT: LUY TRIPBOYFLAME",
      "VFX: ITSLILJAY.RAW",
      "LOS VAMPIROS🩸",
      "NEW WAVE 🌊"]}
  />

  <InfographicBody images ={
    [
      "/modals/modal-1/And3r7.webp",
      "/collage-info/and3rmodal.webp",
      "/modals/modal-1/And3r2.webp",
      "/modals/modal-1/And3r3.webp",
      "/modals/modal-1/And3r4.webp",
      "/modals/modal-1/And3r5.webp",
  ]
  } />
</section>