---
import InfographicBody from "./InfographicBody.astro"
import InfographicHeader from "./InfographicHeader.astro"


const { infographicId } = Astro.props
---

<section
  id={`infographic-${infographicId}`}
  class="mx-auto px-2 max-w-7xl w-full flex-col md:gap-[50px] py-4 hidden"
>
  <InfographicHeader
    badgeText="ESCUCHALO AHORA MISMO EN TODAS LAS PLATAFORMAS."
    title="@Trip_N3A x @kouji_808 - Exportación (Video Oficial)"
    subtitle={[
      "FILM BY: ITSLILJAY.RAW",
      "ARTE: DAOC",
      "EDIT: LUY TRIPBOYFLAME",
      "MEZCLA Y MASTER: VAIRROW",
      "LA H🩸",
      "SHOTOUT PAL' EQUIPO ✦✦"]}
  />

  <InfographicBody images ={
    [
      "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal4/exportacion1.webp",
      "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal4/exportacion2.webp",
      "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal4/exportacion3.webp",
      "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal4/exportacion4.webp",
      "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal4/exportacion5.webp",
      "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal4/exportacion6.webp",
    ]
  } />
</section>