---
import InfographicBody from "./InfographicBody.astro"
import InfographicHeader from "./InfographicHeader.astro"


const { infographicId } = Astro.props
---

<section
  id={`infographic-${infographicId}`}
  class="mx-auto px-4 max-w-7xl w-full flex-col md:gap-[50px] py-[72px] hidden"
>
  <InfographicHeader
    badgeText="ESCUCHALO AHORA MISMO EN TODAS LAS PLATAFORMAS."
    title="KOUJI - LA H SESSION #1 X DANNY999"
    subtitle={[
      "FILM BY: ITSLILJAY.RAW",
      "ARTE: DAOC",
      "EDIT: LUY TRIPBOYFLAME",
      "VFX: ITSLILJAY.RAW",
      "LA H🩸",
      "SHOTOUT PAL' EQUIPO ✦✦"]}
  />

  <InfographicBody images ={
    [
      "/collage-info/danny999.webp",
      "/modals/dannysesion1.webp",
      "/modals/dannysesion2.webp",
      "/modals/dannysesion3.webp",
      "/modals/dannysesion4.webp",
      "/modals/dannysesion5.webp",
    ]
  } />
</section>