

<header class="max-w-[1440px] w-full mx-auto flex items-center justify-between p-4 bg-black text-white">
    <div class = "flex items-center">
        <img src="/tripbackground.webp" alt="logotripboyflame" class="h-16 w-auto rounded-xl  bg-black p-1"/>
    </div>
    <div class="text-primary font-semibold flex-grow text-center">
        TRIP BOY FLAME
    </div>
</header>