<section class="mx-auto max-w-7xl px-4 py-6 w-full">
    <div class="bg-tripbackground bg-cover bg-center flex flex-col mx-auto w-full h-full rounded-3xl px-4 py-6 items-center justify-center ">
        <h1 class="text-4xl font-bold text-center text-white">Luy</h1>
        <p class="text-lg text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nesciunt molestiae pariatur reprehenderit rem iure ipsam sapiente tenetur, nisi corrupti hic adipisci tempore itaque! Quae mollitia vitae magnam libero eius? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque nihil excepturi sapiente corporis nam quis quasi reiciendis? Molestias consectetur blanditiis, labore architecto fugiat atque, enim necessitatibus quisquam nisi illum laudantium. </p>
        
</section>