---
interface Props {
  badgeText: string;
  title: string;
  subtitle: string | string[]; // Allow subtitle to be a string or an array
}

const { badgeText, title, subtitle } = Astro.props as Props;

// Convert subtitle to an array if it's a string
const subtitleArray = typeof subtitle === 'string' ? [subtitle] : subtitle;
---

<div class="flex flex-col gap-[10px] md:gap-[35px]">
  <!-- Badge -->
  <span
    class="uppercase bg-[#499AC3] py-2 px-4 w-full md:w-fit rounded-lg text-white text-xl leading-5 text-center tracking-[2%]"
  >
    {badgeText}
  </span>

  <!-- Title and Subtitle -->
  <div class="py-10 flex flex-col gap-6">
    <!-- Responsive Title -->
    <h2
      class="text-[32px] leading-[35.2px] md:text-[64px] md:leading-[70px] text-[#0073AA] max-w-5xl"
    >
      {title}
    </h2>

    <!-- Subtitle as Column -->
    <div class="flex flex-col gap-2">
      {subtitleArray.map((line) => (
        <h4 class="text-2xl leading-[30px] text-[#499AC3]">
          {line}
        </h4>
      ))}
    </div>
  </div>
  
</div>