---
interface Props {
  images: string[]; // Array of image URLs
}

const { images = [] } = Astro.props as Props;
---

<div class="">
  <h2 class="text-xl font-semibold text-primary mb-4">GALERIA</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {images.map((image, index) => (
      <div class="relative aspect-square overflow-hidden rounded-lg">
        <img
          src={image}
          alt={`Collage Image ${index + 1}`}
          class="w-full h-full object-cover object-center"
          loading="lazy"
        />
      </div>
    ))}
  </div>
</div>
