---
import SectionContainer from "./SectionContainer.astro";

const email = "luy@tripboyflame.com";
---

<SectionContainer class="w-full flex flex-col md:flex-row items-center justify-between p-2 bg-black text-center md:text-left space-y-4 md:space-y-0 md:space-x-16 text-sm md:text-base">
  <div >
    <p class="text-lg text-white tracking-separated leading-6 font-semibold">{email}</p>
  </div>
  <div>
    <p class="text-xl text-primary tracking-[0.38px] leading-6 font-semibold">tripboyflame®</p>
  </div>
</SectionContainer>
