---
import InfographicBody from "./InfographicBody.astro"
import InfographicHeader from "./InfographicHeader.astro"

const { infographicId } = Astro.props
---

<section
  id={`infographic-${infographicId}`}
  class="mx-auto px-4 max-w-7xl w-full flex-col md:gap-[50px] py-4 hidden"
>
  <InfographicHeader
    badgeText="ESCUCHALO AHORA MISMO EN TODAS LAS PLATAFORMAS."
    title="GEEZYDEE X @YoungFatty - PIKACHU🚷👹 Prod. @Prodmonja"
    subtitle={[
      "FILM BY: 2 PORCIENTO",
      "ARTE: TREPO",
      "EDIT: LUY TRIPBOYFLAME",
      "VFX: ITSLILJAY.RAW",
      "LOS XTRADITABLEZ🩸",
      "24K💊",
    ]}
  />

  <InfographicBody images={[   
    "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal3/pikachu1.webp",
    "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal3/pikachu2.webp",
    "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal3/pikachu3.webp",
    "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal3/pikachu4.webp",
    "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal3/pikachu5.webp",
    "https://tripboyflamebucket.s3.us-west-1.amazonaws.com/modals/modal3/pikachu6.webp",
  ]} />
</section>
