---
import InfographicBody from "./InfographicBody.astro"
import InfographicHeader from "./InfographicHeader.astro"

const { infographicId } = Astro.props
---

<section
  id={`infographic-${infographicId}`}
  class="mx-auto px-4 max-w-7xl w-full flex-col md:gap-[50px] py-4 hidden"
>
  <InfographicHeader
    badgeText="ESCUCHALO AHORA MISMO EN TODAS LAS PLATAFORMAS."
    title="HACERLA MiAðŸ’ŸðŸ§®â—- Video oficial (Prod Flame ç«ç‚Ž)"
    subtitle={[
      "FILM BY: ITSLILJAY.RAW",
      "ARTE: LUY TRIPBOYFLAME",
      "EDIT: LUY TRIPBOYFLAME",
      "VFX: ITSLILJAY.RAW",
      "PRODUCTOR EJECUTIVO: DIMELOCHINOGL",
      "Â© 2025 / GLOBO LIFE",
    ]}
  />

  <InfographicBody images={[   
    "/modals/modal-3/hacerlamia1.webp",
    "/modals/modal-3/hacerlamia2.webp",
    "/modals/modal-3/hacerlamia5.webp",
    "/modals/modal-3/hacerlamia3.webp",
    "/modals/modal-3/hacerlamia4.webp",
    "/modals/modal-3/hacerlamia6.webp",
  ]} />
</section>
