---
import SectionContainer from "@components/SectionContainer.astro";
import Subtitle from "@components/Subtitle.astro";

const tools = [
  {
    title: "Adobe Premiere Pro",
    image: "/tools-img/premier.svg",
    url: "#", // Reemplaza con la URL de la herramienta si es necesario
  },
  {
    title: "Adobe After Effects",
    image: "/tools-img/after-effects.svg",
    url: "#", // Reemplaza con la URL de la herramienta si es necesario
  },
  {
    title: "Davinci Resolve",
    image: "/tools-img/davinci.svg",
    url: "#", // Reemplaza con la URL de la herramienta si es necesario
  },
  {
    title: "Final Cut Pro",
    image: "/tools-img/photoshop.svg",
    url: "#", // Reemplaza con la URL de la herramienta si es necesario
  },
  {
    title: "Adobe Lightroom",
    image: "/tools-img/lightroom.svg",
    url: "#", // Reemplaza con la URL de la herramienta si es necesario
  },
  {
    title: "Final cut pro",
    image: "/tools-img/finalcut.svg",
    url: "#",
  }
];
---

<SectionContainer title="Herramientas de edición" id="tools">
  <Subtitle>
   Las mejores <span class="text-primary">Herramientas</span> dan los mejores resultados.
  </Subtitle>

  <div class="w-full max-w-6xl space-y-2">
    <div class="relative px-6 pb-4 pt-8"> 
      <ul class="grid grid-cols-2 gap-8 sm:grid-cols-3 md:grid-cols-6">
        {tools.map(({ title, image, url }) => (
          <li class="shrink-0 flex flex-col items-center">
            <a class="flex flex-row items-center gap-2 transition-transform duration-300 hover:scale-105" href={url}>
              <div class="relative group rounded-lg overflow-hidden shadow-lg transition-all duration-300 hover:scale-105 hover:shadow-xl">
                <div class="w-12 h-12 sm:w-16 sm:h-16 md:w-20 md:h-20 lg:w-24 lg:h-24 relative overflow-hidden rounded-lg">
                  <img
                    src={image}
                    alt={title}
                    class="w-full h-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-110"
                  />
                </div>
                <div class="absolute inset-0 flex justify-center items-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <span class="text-white text-xs sm:text-sm md:text-base lg:text-lg font-bold">{title}</span>
                </div>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</SectionContainer>
